@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: center / auto url("./eutah-mizushima-OWwK_0_EnxY-unsplash.jpg");
  color: hsl(0, 0%, 1%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.generator {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  margin-top: 0;
  line-height: 1;
}

#dinoImage {
  max-width: 100%;
  border-radius: 0 0 1rem 1rem;
}

#dinoName {
  background: hsl(0, 0%, 100%);
  padding: 0.25rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  max-width: 25rem;
  display: block;
  margin: auto;
}

#btnLoad {
  background: hsl(354.2, 100%, 37.1%);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

#btnLoad:hover {
  background: rgb(100, 3, 13);
}
